<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/katex.css" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">

    <title>$title$</title>
    <meta name="description" content="$description$" />

    <!-- Meta tags for social media -->
    <meta property="og:title" content="$title$" />
    <meta property="og:description" content="$description$" />
    <meta property="og:url" content="$url$" />
    <meta property="og:site_name" content="Sahel Iqbal" />
    <meta name="twitter:card" content="summary" />
    <!--
    Check if the `date` field is present in the metadata to determine if the page is
    a post or not.  A bit of a hack, but it works.
    -->
    $if(date)$
    <meta property="og:type" content="article" />
    $else$
    <meta property="og:type" content="website" />
    $endif$
  </head>
  <body>
    $if(date)$
    <header>
      <nav>
        <a href="/">Home</a>
      </nav>
    </header>
    $endif$
    <main role="main">
      $body$
    </main>
  </body>
</html>
