$base-font-size: 2.2rem;
$line-height: 1.4;
$serif: 'EB Garamond', serif;

$background-color: #fffff8;
$accent1: #d01137;
$accent2: #fdecf0;

html {
  box-sizing: border-box;
  font-family: $serif;
  font-kerning: normal;
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: $base-font-size;
  line-height: $line-height;
  background-color: $background-color;
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem 2rem;
}

h2 {
  font-size: 1.5 * $base-font-size;
  font-weight: normal;
  font-style: italic;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.profile {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  img {
    width: 200px;
  }
  h1 {
    margin-top: 1rem;
    font-weight: normal;
    font-size: 3rem;
  }
}

p {
  hyphens: auto;
}

ul, ol {
  margin-left: $base-font-size;
}

li {
  margin-top: 0.5rem;
}

p + p {
  margin-top: 1.2rem;
}

strong {
  font-weight: 600;
}

a {
  display: inline;
  outline: none;
  text-decoration: none;
  transition: all 150ms ease-in-out;

  &:link,
  &:visited,
  &:focus {
    color: $accent1;
  }

  &:hover,
  &:active {
    background: $accent2;
  }
}
